{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "browsers": [ ">0.25%", "not ie 11", "not op_mini all"]
                },
                "useBuiltIns": "usage"
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": ["react-hot-loader/babel"],
    "ignore": [
        "node_modules/**"
    ]
}
